
<html>
    <head>
        
    </head>
    <body>
    
        <style>
         #webzineMiddle {
                margin:15px; padding:15px;
            }
            .filter{
               
                margin:10px; padding:10px;
            }
        </style>
        <div id = "webzineMiddle">
					<div class = "webzineMiddle1">
						<div class = "webzineMiddle2">
<div id = "webzineLeft">
</div>	<div id = "webzineMain"><!-- process_preblock -->
	<div id="webzineNews" class="">
		<div id="webzineNewsBody" class="">
	<div id="webzineNewsList">
		<form id="webzineNewsListF1" name="webzineNewsListF1" method="GET" onsubmit="return false;">
			<input type="hidden" name="iskin" value="" />
			
				<br><br><br><br>	
			<a href="/show"><button>글쓰기</button></a>
			<div class="filter">
								<h2 class="title683SL1"> 리뷰 <span class="small">5개 등록됨 (2018-08-25 ~ 2018-08-24)</span></h2>
							</div>
			<div class="list">
					<div class="webzineNewsList tableType2">
		<table cellspacing="0" cellpadding="0" border="0">
			<colgroup>
				<col class="news"></col>
			</colgroup>
			<tbody>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/23/news/thumb/n14644694962.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205798&amp;sclass=12"><span class="category"></span> <p></p></a> <span class="cmtnum"></span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span><p></p></span><span class="summary"></br>
						<p></p></span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/23/news/thumb/n15545357204.png" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205797&amp;sclass=12">암살자는 아니지만 재미는 확실하다! '어쌔신크리드 오디세이' 체험기</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[1]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 김강욱 기자 (Piino@inven.co.kr) | 2018-08-23 08:13</span><span class="summary"></br>
						사실 예전부터 이런 날이 올 줄 알았다. 몰려드는 경비병을 모조리 죽이고 (그것도 엄청 요란하게) 허겁지겁 숨으며 목격자가 없으면 암살이라고 자기세뇌하는걸 즐겼으니 말이다. 그리고 이번 작품인 오.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/23/news/thumb/n16156389007.png" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205796&amp;sclass=12">상남자의 매력이 풍기는 그가 돌아왔다, 스타2 '타이커스' 사령관 체험기</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[1]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 김강욱 기자 (Piino@inven.co.kr) | 2018-08-23 08:13</span><span class="summary"></br>
						스타크래프트2 (이하 스타2) 협동전 모드에 새로운 사령관 '타이커스'가 공개됐다. 타이커스는 스타2 3부작의 첫 번째 작품인 '자유의 날개' 등장인물로, 거친 매력으로 많은 팬을 보유했다. 그 인기에 .....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/23/news/thumb/n13356889088.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205795&amp;sclass=12"><span class="category">[시연기]</span> 유독 잔혹한 순대와 선지, '바이오하자드2 리메이크'</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[2]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 정필권 기자 (Pekke@inven.co.kr) | 2018-08-23 07:31</span><span class="summary"></br>
						'바이오하자드2 리메이크'는 이번 게임스컴에서 전 세계 모든 기자들이 가장 긴 시간 줄을 섰던 게임을 꼽자면 가장 먼저 언급될 게임이 될겁니다. 엑스박스 부스 안에서 시연이 되었던데다, 다른 성인 .....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/23/news/thumb/n14187856687.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205705&amp;sclass=12"><span class="category">[시연기]</span> 유비소프트가 보여준 의외의 한 방 '스타링크'</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[3]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 정필권 기자 (Pekke@inven.co.kr) | 2018-08-23 05:28</span><span class="summary"></br>
						보통 우리는 유비소프트를 두고 '다수의 평작을 보유한 회사'라고 요약하곤 한다. 하지만 개인적으로는 이렇게 표현하고 싶다. '그래도 가끔은 예상치 못한 지점에서 놀라움을 주는 회사'라고 말이다. 여.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/23/news/thumb/n13234203183.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205793&amp;sclass=12"><span class="category">[시연기]</span> 와 이식 잘했네? '디아블로3 이터널 콜렉션'</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[25]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 정필권 기자 (Pekke@inven.co.kr) | 2018-08-23 04:06</span><span class="summary"></br>
						비록 공식 발표 전에 유출되긴 했지만, 디아블로3가 닌텐도 스위치로 출시된다는 소식은 닌텐도는 물론, 블리자드 팬들의 시선을 모을 만한 것이었다. PC에서 처음으로 게임을 출시한 지 오랜 시간이 지.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/22/news/thumb/n14653835963.png" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205711&amp;sclass=12">오래된 프랜차이즈의 새로운 도전, 소울칼리버6 시연기</a></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 김강욱 기자 (Piino@inven.co.kr) | 2018-08-22 08:33</span><span class="summary"></br>
						소울칼리버 시리즈는 나름 역사가 깊은 프랜차이즈다. 95년 출시된 소울엣지부터 치면 벌써 24년째 이어가는 장수 시리즈다. 주먹 대 주먹이 아니라 무기 대 무기라는 개념으로 매력적인 캐릭터와 더 매.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/22/news/thumb/n13654518232.png" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205710&amp;sclass=12">이렇게 만들면 뭐가 남아요? '점프 포스' 시연기</a></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 김강욱 기자 (Piino@inven.co.kr) | 2018-08-22 08:33</span><span class="summary"></br>
						"얘랑 얘랑 싸우면 누가 이길까?" 유사 이래 이만큼 쉬운, 이만큼 흥미로운 질문이 또 있을까. 만화나 영화, 게임에서도 이런 질문은 가장 핫한 부류였다. 원래대로라면 서로 만날 수 없는 다른 작품의 .....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/22/news/thumb/n15989568106.png" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205709&amp;sclass=12">10년의 기다림은 가치가 있었다. 데빌메이크라이5 시연기</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[3]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 김강욱 기자 (Piino@inven.co.kr) | 2018-08-22 08:33</span><span class="summary"></br>
						10년은 긴 시간이다. 오죽하면 10년이면 강산도 바뀐다 했을까. 시간이 지날수록 기억은 추억이 된다. 기다림이 길어지면 간절함이 된다. 약인지 독인지 모를 그땐 그랬지 때문에 게임 업계에서도 풍파가.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/21/news/thumb/n15221111292.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205681&amp;sclass=12">시선을 사로잡는 화려한 LED 효과! 오존, 스트라이크 X20 RGB</a></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 이상철 기자 (it@inven.co.kr) | 2018-08-21 14:51</span><span class="summary"></br>
						이번에 살펴볼 제품은 OZONE STRIKE X20 RGB 기계식 키보드다. 스페인 게이밍 기어의 명가, 오존은 유럽에서 다양한 게이밍 기어를 제작하고 수많은 프로게이머가 사용하기로 유명한...</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/16/news/thumb/n14716439979.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205393&amp;sclass=12"><span class="category">[리뷰]</span> 에이수스 감성을 제대로! 하이엔드급 모니터 '에이수스 ROG PG278Q'</a> <span class="cmtnum">[2]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 송성호,이상철 기자 (it@inven.co.kr) | 2018-08-16 18:46</span><span class="summary"></br>
						기존 모니터는 PC 화면을 보여주는 기본적인 기능을 담당했다. 최근에는 모니터의 역할이 달라졌다. 모니터는 게임의 화려한 그래픽을 보여주는 것은 물론이고 승패에도 영향을 줄 수 있는 중요한 요소가.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/webzine3/news/201808/i16207100893.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205255&amp;sclass=12"><span class="category">[리뷰]</span> 이것이 진짜다! 에이수스, 리얼 7.1채널 센츄리온 헤드셋</a> <span class="cmtnum">[1]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 이상철 기자 (it@inven.co.kr) | 2018-08-14 15:23</span><span class="summary"></br>
						헤드셋을 구매할 때 가장 먼저 고려해야 할 부분은 무엇일까?라는 고민을 많이 해 보았을 것이다. 성능? 착용감? 채널? 디자인? 최근에는 배틀그라운드의 인기로 인하여 헤드셋 채널이 핫하게 떠올랐다고.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/10/news/thumb/n13493287265.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205079&amp;sclass=12">오갈 때 없는 발을 잡아줄 포근한 제닉스 러그 매트!</a> <span class="cmtnum">[2]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 송성호 기자 (Ronni@inven.co.kr) | 2018-08-10 18:46</span><span class="summary"></br>
						e스포츠가 아시안 게임 시범 종목으로 채택 되는 등 세계적으로 게임 시장의 저변이 넓어졌고, 자연스레 게이밍 기어 시장도 커졌다. 게이밍 기어는 기본 입력장치인 마우스와 키보드에서 시작되었으며 .....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/webzine3/news/201808/i13495112884.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=205042&amp;sclass=12"><span class="category">[리뷰]</span> 컴팩트한 사이즈의 블루투스 헤드폰! Back Beat 605</a></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 이상철 기자 (it@inven.co.kr) | 2018-08-10 14:47</span><span class="summary"></br>
						출퇴근길이나 산책 그리고 운동까지 어디를 가도 스마트기기에 이어폰을 연결해서 음악을 듣거나 영상을 보곤하는 장면을 쉽게 볼 수 있다. 대부분 마이크를 탑재한 유선이어폰이나 조금더 편한 블루투스.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/webzine3/news/201808/i15216382051.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=204861&amp;sclass=12">게임에 최적화된 144Hz 고 주사율 모니터! 래안텍 Blaze G32CQ144</a> <span class="cmtnum">[2]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 이상철 기자 (it@inven.co.kr) | 2018-08-08 12:32</span><span class="summary"></br>
						주사율이란 모니터가 1초에 몇 장의 이미지를 화면에 뿌려주느냐를 의미한다. 일반적인 모니터는 대부분 60Hz 혹은 75Hz인데 비해 소위 게이밍 모니터라고 불리는 모니터들은 144Hz 이상의 주사율을 가진.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/2018/08/06/news/thumb/n15944753870.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=204709&amp;sclass=12"><span class="category">[체험기]</span> "보는 것도 괜찮은데, 해보니까 더 괜찮다" - 로스트 소울 어사이드</a> <span class="cmtnum">[8]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 양영석 기자 (Lavii@inven.co.kr) | 2018-08-06 00:35</span><span class="summary"></br>
						2016년 여름에 이 게임의 소식을 듣고, 기자들 모두 놀랬다. "이게 1인 개발이야?"라고. 파이널판타지15의 트레일러를 보고 영감을 받아 2년 동안 제작한 게임, '로스트 소울 어사이드'. 주인공 역시 FF.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/webzine3/news/201808/i14352938335.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=204685&amp;sclass=12"><span class="category">[체험기]</span> 점프 캐릭터들의 콜라보, 반다이의 '점프 포스' 체험기</a> <img class="iconimg" src="http://static.inven.co.kr/image/webzine/s3/common/icon_hot_red1.gif" alt="주요뉴스" /> <span class="cmtnum">[3]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 여현구 기자 (Shion@inven.co.kr) | 2018-08-05 23:46</span><span class="summary"></br>
						소니 부스에서 익숙하고 눈에 띄는 게임이 포착됐다. 원피스, 나루토, 블리치, 데스노트 등 주간 만화 잡지 '소년 점프' 캐릭터들을 활용해 서로 전투하는 '점프 포스'가 자리 잡은 것이다. 시연 장소에.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="http://static.inven.co.kr/column/webzine3/news/201808/i16168547100.jpg" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=204594&amp;sclass=12">악기 고유의 음색까지 살려주는 브리츠, Vtube30 진공관 블루투스 스피커</a> <span class="cmtnum">[4]</span></span><br/>
						<span class="info"><span class="category">리뷰</span> <span class="category">|</span> 이상철 기자 (it@inven.co.kr) | 2018-08-03 15:48</span><span class="summary"></br>
						이번에 살펴볼 제품은 브리츠에서 출시한 Vtube30 진공관 블루투스 스피커(이하 Vtube30)다. 일반적인 블루투스 스피커와는 확연하게 구별되는 두 개의 진공관 앰프를 탑재하여 30W의 강력한 출력을 자랑.....</span>
						</div>
					</td>
				</tr>
											<tr>
					<td class="left name">
						<div class="content">
						<img class="banner" src="" />						<span class="title"><a href="http://www.inven.co.kr/webzine/news/?news=204433&amp;sclass=12">헤드셋의 답답함이 싫다면 이젠 이어폰이다! MSI, 'GH10' 게이밍 이어폰</a> <span class="cmtnum">[7]</span></span><br/>
						<span class="info"><span class="category"></span>리뷰</span> <span class="category">|</span>   </span><span class="summary"></br>
						</span>
						</div>
					</td>
				</tr>
						</tbody>
		</table>
	</div>
			</div>
			<div class="paging webzineCommonPaging">
								<span class="prevtext2"><a href="#" onclick="return false;" class="prevtext2" style="cursor: default;"><img src="http://static.inven.co.kr/image_2011/webzine/common/next6month_58x18_white.gif" alt="다음 6개월" style="opacity: 0.5; filter: alpha(opacity=50);"></a><span>&nbsp;&nbsp;</span></span>
								<span class="basetext"><span class="prevtext">이전</span> <span class="currentpg">1</span>  |  <a href="javascript:WEBZINE.NewsList.page(2);"class="pg">2</a>  |  <a href="javascript:WEBZINE.NewsList.page(3);"class="pg">3</a>  |  <a href="javascript:WEBZINE.NewsList.page(4);"class="pg">4</a>  |  <a href="javascript:WEBZINE.NewsList.page(5);"class="pg">5</a>  |  <a href="javascript:WEBZINE.NewsList.page(6);"class="pg">6</a>  |  <a href="javascript:WEBZINE.NewsList.page(7);"class="pg">7</a>  |  <a href="javascript:WEBZINE.NewsList.page(8);"class="pg">8</a> <span class="nexttext"><a href="javascript:WEBZINE.NewsList.page(2);" class="nexttext">다음</a></span></span>								<span class="nexttext2"><a href="#" onclick="return WEBZINE.NewsList.premonth(2);" class="nexttext2"><span>&nbsp;&nbsp;</span><img src="http://static.inven.co.kr/image_2011/webzine/common/pre6month_58x18_white.gif" alt="이전 6개월"></a></span>
							</div>
								</form>
	</div>
	<script type="text/javascript">
		$('#categoryChangeTop').on('change', function(e) {
			var me = $(this);
			webzineNewsListForm1.addField('category','분류');
			webzineNewsListForm1.setValue('category', me.val());
			webzineNewsListForm1.getForm().onsubmit();
		});
		var webzineNewsListForm1 = INVEN.Html.FormControl.create();
		webzineNewsListForm1.setForm('webzineNewsListF1');
		webzineNewsListForm1.addField('sw','검색어');
					webzineNewsListForm1.addField('iskin','스킨');
		
								
		webzineNewsListForm1.getForm().onsubmit = function() {
						if ($.trim($('#searchWordTop').val()).length > 0) {
				webzineNewsListForm1.addField('searchwhere','검색필드');
			}
			
			WEBZINE.News.searchNews(webzineNewsListForm1); return false;
		}
	</script>
		</div>

    </body>
</html>